<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= book.rating %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= book.comment %>
  </p>

  <p>
      <strong>Bookcase:</strong>
      <%= book.bookcase&.name || "No bookcase" %>
  </p>

  <p>
      <strong>Author:</strong>
      <%= book.author&.name || "No author" %>
  </p>
  
</div>
